body{
background-color: #e09f7d;
color:#311847 ;
margin-top:  3px ;
margin-bottom:3px;
}

h1{
 
font-size: 80px;
text-align: center;
text-decoration:underline;

}

img{
display: block;
margin: 30px auto}

.dsp,.ingt,.steps{
margin-left: 20%;
margin-right: 20%;
;
}
h2{
font-size: 48px;}

h3{
font-size: 45px;
}

p,ul,ol{
font-size: 20px;}

ul,ol{

}